@charset "UTF-8";
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@font-face {
  font-family: "bitcheese";
  src: url(../font/bitcheese.otf);
}
h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

.img-logo {
  width: 50px;
  margin-top: 10px;
  margin-right: 20px;
}

/*Carousel*/
.titulo-4 {
  transform: rotate(-45deg);
  color: #ff0202;
  font-family: "bitcheese";
  text-decoration: none;
  animation: cambiocolor 1s;
  width: 100px;
  height: 150px;
}

@keyframes cambiocolor {
  from {
    color: #00c3ff;
  }
  to {
    color: #ff0202;
  }
}
span {
  color: #00c3ff;
  animation: cambiocolor2 1s;
}

@keyframes cambiocolor2 {
  from {
    color: #ff0202;
  }
  to {
    color: #00c3ff;
  }
}
/*Fin carousel*/
/*Barra de navegación*/
nav.navbar ul {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000000;
}
nav.navbar ul li {
  display: inline-block;
}
nav.navbar ul li a {
  color: #fff;
  font-size: large;
  text-decoration: none;
  padding: 10px;
}
nav.navbar ul li a:hover {
  color: #ff0202;
}

/*Fin barra de navegación*/
/*Biografía*/
div.cuerpo {
  width: 80%;
  text-align: center;
  margin: 0 10% 0% 10%;
}
div.cuerpo img {
  width: 80%;
  height: 300px;
}
div.cuerpo p {
  text-align: justify;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 30px;
  margin-bottom: 50px;
}

/*Fin biograía*/
.subtitulo {
  margin: 20px;
  text-align: center;
  font-family: "Bitcheese";
  color: #ff0202;
  font-size: xx-large;
  text-decoration-line: underline;
  transform: rotate(-5deg);
}

body {
  background-color: #d7d5e4;
}

/*Cuerpo Index*/
.p1, .p2, .p3, .p4 {
  font-family: "bitcheese";
  border-radius: 20px;
  font-size: 25px;
  padding: 10px;
}

.p1 {
  margin-top: 50px;
  background-color: #ff0202;
}

.p2 {
  margin-top: 75px;
  background-color: #00c3ff;
}

.p3 {
  background-color: #aaa959;
}

.p4 {
  margin-top: 75px;
  background-color: #523fbb;
}

/*Fin cuerpo index*/
/*Tapas inferior*/
.tapas img {
  height: 100%;
  width: 100%;
  animation: tapasinferior 2s;
}

@keyframes tapasinferior {
  0% {
    transform: scale(0.5) translate(-500%, -500%);
  }
}
/*Fin tapas inferior*/
/*Footer*/
footer {
  margin-top: 30px;
  background-color: rgb(205, 205, 223);
  display: flex;
  justify-content: center;
  width: 100%;
  height: 150px;
}
footer .img-instagram {
  width: 30px;
  margin-top: 10px;
}

/*Fin footer*/
/*Formulario de contacto*/
div.contacto {
  width: 100%;
  margin-top: 30px;
  text-align: center;
}
div.contacto textarea {
  border: #00c3ff solid;
}
div.contacto textarea .datos {
  color: #7e7d85;
  width: 300px;
}
div.contacto textarea .mensaje {
  color: #7e7d85;
  width: 300px;
  height: 300px;
}

.boton {
  text-align: center;
  margin: 10px;
}
.boton .color-celeste, .boton .color-rojo {
  font-family: "bitcheese";
  color: #000000;
}

/*Fin de formulario de contacto*/
/*Novelas*/
.img-novela {
  height: 400px;
  margin: 10px;
}

.argumento {
  text-align: justify;
  margin-top: 10px;
}

/*Fin de novelas*/
/*Otros libros*/
section.tapasotros {
  display: flex;
}
section.tapasotros div {
  height: 600px;
  margin: 100px;
}
section.tapasotros img {
  height: 500px;
}

/*Fin de otros libros*/
.titulo-1 {
  font-size: 1rem;
}

.titulo-2 {
  font-size: 2rem;
}

.titulo-3 {
  font-size: 3rem;
}

.titulo-4 {
  font-size: 4rem;
}

.color-celeste {
  background-color: #00c3ff;
  color: #00c3ff;
}

.color-rojo {
  background-color: #ff0202;
  color: #ff0202;
}

.color-blanco {
  background-color: #fff;
  color: #fff;
}

.color-negro {
  background-color: #000000;
  color: #000000;
}

.color-mostaza {
  background-color: #aaa959;
  color: #aaa959;
}

.color-violeta {
  background-color: #523fbb;
  color: #523fbb;
}

.color-gris {
  background-color: #d7d5e4;
  color: #d7d5e4;
}

.color-gris_oscuro {
  background-color: #7e7d85;
  color: #7e7d85;
}

@media screen and (max-width: 768px) {
  .intro .row {
    display: block;
    overflow-wrap: break-word;
  }
  .p1 {
    background-color: #00c3ff;
    font-size: 20px;
  }
  .p2 {
    background-color: #ff0202;
    font-size: 20px;
  }
  .p3 {
    background-color: #523fbb;
    font-size: 20px;
  }
  .p4 {
    background-color: #aaa959;
    font-size: 20px;
  }
}
@media screen and (max-width: 380px) {
  .tapas {
    display: none;
  }
  .p1 {
    font-size: 15px;
    margin-top: 0;
  }
  .p2 {
    font-size: 15px;
    margin-top: 0;
  }
  .p3 {
    font-size: 15px;
    margin-top: 0;
  }
  .p4 {
    font-size: 15px;
    margin-top: 0;
  }
  .novelas .row {
    display: block;
  }
  .img-novela {
    width: 100%;
    margin: 10px;
  }
  .argumento {
    text-align: justify;
    margin-top: 10px;
    width: 100%;
  }
  h3 {
    font-size: 20px;
  }
}

/*# sourceMappingURL=style.css.map */
