@media screen and (max-width: 600px){
  
    

    .p1{
        background-color: $celeste;
        
    }
    
    .p2{
        background-color: $rojo;
        
    }
    
    .p3{
        background-color: $violeta;
        
    }
    
    .p4{ 
        background-color: $mostaza;
        
    }
    

    
   }

   